body{
	background-color: #ffffff;
}

.outerbox{
	width: 100%;
	text-align: center;
}

.contentbox{
	color: #FFFFFF;
	background-color: #404040;
	display: inline-block;
	width: 85%;
	height: 85%;
	padding: 25px;
	border-radius: 25px;
}