<html>

	<head>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		<!--TITLE-->
		{% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>No Title</title>
        {% endif %}
				<meta charset="utf-8">
				<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--METADEF-->
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!--INCLUDES-->
		<link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
	</head>
	<body>
		<div class="px-4 py-5 my-5 text-center">
	<h1 class="display-5 fw-bold">Chatbot 1 - No emojis</h1>
	<div class="col-lg-6 mx-auto">
		<p class="lead mb-4">The information provided by the Chatbot has been gathered from the official University of Leeds website (available at <a href="https://www.leeds.ac.uk/"https://www.leeds.ac.uk/>https://www.leeds.ac.uk/</a>), and the Leeds University Union website (available at <a href="https://www.luu.org.uk/">https://www.luu.org.uk/</a>)
		<br><br>
		Click the button in the bottom right to chat with the Chatbot. Start by saying hello.</p>
		    <p class="lead mb-4"><a href="{{ url_for('bot2') }}">Click here to move onto the next Chatbot when you are ready.</a></p>

	</div>
</div>
	</body>
	<script src="http://localhost:3000/assets/modules/channel-web/inject.js"></script>
		<script>
	  window.botpressWebChat.init({ host: 'http://localhost:3000', botId: 'proto2' })
	</script>
</html>
