<html>
	<head>
		<!--TITLE-->
		{% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>No Title</title>
        {% endif %}
		<!--METADEF-->
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!--INCLUDES-->
		<link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}"
	</head>
	<body>
		<div class="outerbox">
			<div class="contentbox">
				<h1>Please take some time now to complete this Google survey.</h1>
			</div>
		</div>
	</body>
</html>