<!DOCTYPE html>
<html>
<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Welcome to Our User Study</title>
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<body style="font-family:helveticaneue">

<div class="px-4 py-5 my-5 text-center">
<h1 class="display-5 fw-bold">Welcome to Our Study</h1>
<div class="col-lg-6 mx-auto">
<p class="lead mb-4">We require that before you continue, you have been appropriately informed about the project titled "Analysing User Sentiment Towards Emoji use in Chatbots for Education".<br>
You must have read the information sheet provided prior, dated 28/02/22, and understand why and how your data will be used.<br> Ensure you have also read and signed the appropriate consent form, and submitted it to the project student, Alain Sidath Fernando.
</p><br>
<form action="" method="POST">
I have read the information sheet provided prior, and have submitted my signed consent form:
{{ form.consent }}<br><br>
<p><input type="submit" value="Submit"></p>
</form>
</div>
</div>
</body>
</html>
